06ClientSide-JS,TS,NG/ConsumeContactService/ConsumeContactService/Connected Services/ContactRef/ServiceContact1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58754/ServiceContact.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContactSoapService" />
  <xs:element name="GetContacts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ContactSoapService" minOccurs="0" name="GetContactsResult" nillable="true" type="q1:ArrayOfContactData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ContactSoapService" minOccurs="0" name="contactData" nillable="true" type="q2:ContactData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>