06ClientSide-JS,TS,NG/ConsumeContactService/ConsumeContactService/Connected Services/ContactRef/ServiceContact.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ContactSoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ContactSoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContactData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactData" nillable="true" type="tns:ContactData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactData" nillable="true" type="tns:ArrayOfContactData" />
  <xs:complexType name="ContactData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactData" nillable="true" type="tns:ContactData" />
</xs:schema>